@charset "UTF-8";
@import url(public.css);
.header_w{}
.header{ height:80px; position:relative;}
.header .logo{ width:120px; height:43px; position:absolute; left:0; top:18px; background:url(../img/logo.png) no-repeat;}
.header .header_nav{ position:absolute; top:25px; right:0;}
.header .header_nav .header_nav_ul{}
.header .header_nav .header_nav_ul li{ float:left;}
.header .header_nav .header_nav_ul li a{ font-size:14px; color:#666; text-shadow:0 1px 0 #fff; padding:7px 15px; display:inline-block;}

/*首页图片轮播*/
.p_slide{ height:250px; position:relative; overflow:hidden; box-shadow:0 0 5px #ccc;}
.p_slide .p_ul{ position:absolute; width:990px; left:0; top:0;}
.p_slide .p_ul li{ height:250px; background:#f7f7f7;}
.p_slide .c_ul{ position:absolute; right:20px; bottom:20px; display:none;}
.p_slide .c_ul li{ float:left; width:20px; height:20px; text-align:center; line-height:20px; border-radius:10px; background:#33b5ec; color:#FFF; margin-left:10px; text-shadow:1px 1px #999;}
.p_slide .c_ul li.current{ background:#eb6877;}

/*居中板块通用样式*/
.block_center{ width:990px; margin:0 auto 20px auto;}
.content .block_center .top_title{ height:40px; margin-bottom:8px; border-top:2px solid #e96f6f; background:url(../img/block_center_top_title_bg.png) repeat-x;}
.content .block_center .top_title h2{ height:38px; line-height:38px; width:240px; overflow:hidden; font-size:16px; text-indent:15px; color:#f7f7f7; text-shadow:0 1px 1px #fff; background:url(../img/mix_bg.png) no-repeat; background:none; color:#333;}
.content .block_center .main{ width:750px; float:right;}
.content .block_center .side{ width:240px; float:left;}
.content .block_center .side .a{ border:1px solid #e7e7e7; height:298px; background:#f7f7f7; margin-bottom:10px;}
.content .block_center .side .a_s{ height:98px; margin-bottom:0;}

.content .cmain{ float:left; width:730px; background:#fefefe;}
.content .cside{ float:right; width:240px; background:#fefefe;}

.content.index{ margin-bottom:0;}

/*其他板块的标题背景*/
.content .brands .top_title{ display:none;}
.content .suppliers .top_title{ border-top:2px solid #53aff5;}
.content .suppliers .top_title h2{ background-position:-240px 0;}
.content .products .top_title{ border-top:2px solid #f39d23;}
.content .products .top_title h2{ background-position:0 -40px;}
.content .news .top_title{ border-top:2px solid #aacd0a;}
.content .news .top_title h2{ background-position:-240px -40px;}

/*带缩略图的列表样式*/
.content .thumb_list_block{}
.content .thumb_list_block .main .items_group{}
.content .thumb_list_block .main .items_group li.item{ float:left; padding-left:20px; width:167px; height:205px;}
.content .thumb_list_block .main .items_group li.item .pic{ width:165px; height:155px; background:#f7f7f7; margin-bottom:10px;}
.content .thumb_list_block .main .items_group li.item h3{ text-align:center; line-height:15px;}
.content .thumb_list_block .main .items_group li.item h3 a{ font-weight:normal; text-shadow:0 1px 0 #fff;}
.content .thumb_list_block .main .items_group li.more a{ display:block; padding:40px 45px 0 45px; height:165px}
.content .thumb_list_block .main .items_group li.more a span.more_icon{ display:block; height:80px; margin-bottom:15px; background:url(../img/mix_bg.png);}
.content .thumb_list_block .main .items_group li.more a span.more_text{ display:block; text-align:center; font-size:14px; color:#666666;}
.content .thumb_list_block .main .items_group li.more a:hover{ background:#f7f7f7; text-decoration:none;}
.content .thumb_list_block .main .items_group li.more a span.more_icon_hover{ background-position:0 -80px;}

/*新风品牌*/
.content .thumb_list_block.products .main .items_group li.more a span.more_icon{background-position:-75px 0;}
.content .thumb_list_block.products .main .items_group li.more a span.more_icon_hover{background-position:-75px -80px;}

/*新风产品*/
.content .thumb_list_block.suppliers .main .items_group li.more a span.more_icon{background-position:-150px 0;}
.content .thumb_list_block.suppliers .main .items_group li.more a span.more_icon_hover{background-position:-150px -80px;}

/*如果main side反向排列*/
.content .thumb_list_block_opposite .main{ float:left;}
.content .thumb_list_block_opposite .side{ float:right;}
.content .thumb_list_block_opposite .main .items_group li.item{ padding:0 20px 0 0;}

/*品牌推荐*/
.content .block_center.brands .main .items_group li.item{ height:150px;}
.content .block_center.brands .main .items_group li.item .pic{ height:150px; margin-bottom:0;}
.content .block_center.brands .main .items_group li.more a{ padding-top:40px; height:110px;}
.content .block_center.brands .main .items_group li.item h3{ display:none;}

/*新闻列表通用样式*/
.content .news_list_block .main .items_group{ padding-left:20px;}
.content .news_list_block .main .items_group li.item{ width:365px; float:left; padding:0 0 10px 0; height:20px; line-height:20px;}
.content .news_list_block .main .items_group li.item a{ font-size:14px; display:block; width:255px; overflow:hidden; float:left; line-height:20px; height:20px; text-overflow:ellipsis; white-space:nowrap;}
.content .news_list_block .main .items_group li.item span.date{ display:block; float:right; width:80px; height:20px; line-height:20px; font-size:12px; color:#999;}
.content .news_list_block .main .items_group li.more{ text-align:center;}
.content .news_list_block .main .items_group li.more a{ display:inline; color:#eb6877; float:right; font-size:12px; text-align:right; padding-right:20px;}

/*通栏广告 990*60*/
.a_w{ background:#f7f7f7;}
.a_w a{ display:block; height:80px;}

/*首页底部intro*/
.intro_bottom{ padding:160px 0 30px 0; background:url(../img/intro_bottom.jpg) no-repeat;}
.intro_bottom .intro_ul{ overflow:hidden; _height:1px; _overflow:visible; padding:0 30px;}
.intro_bottom .intro_ul li.i{ float:left; width:50%; height:80px; margin-bottom:25px;}
.intro_bottom .intro_ul li.i span.icon{ float:left; display:block; width:80px; height:80px; background:url(../img/mix_bg.png) 0 -280px;}
.intro_bottom .intro_ul li.i p{ margin-left:100px; font-size:20px; line-height:30px; margin-bottom:5px; padding:0 10px 0 0; color:#666; text-shadow:0 2px 1px #fff;}
.intro_bottom .intro_ul li.i em{ font-style:normal; font-size:12px; line-height:18px; margin-left:100px; padding:0 10px 0 0; display:block; color:#999; text-shadow:0 1px 1px #fff;}
.intro_bottom .intro_ul li.i_2 span.icon{ background-position:-80px -280px;}
.intro_bottom .intro_ul li.i_3 span.icon{ background-position:-160px -280px;}
.intro_bottom .intro_ul li.i_4 span.icon{ background-position:-240px -280px;}


/*底部加入*/
.join_bottom{ height:210px; position:relative; background:url(../img/join_bottom.jpg) no-repeat; border:1px solid #e7e7e7; border-left:none; border-right:none; margin-bottom:0;}
.join_bottom .join_link{ display:block; width:200px; position:absolute; top:115px; left:50%; margin-left:-100px; height:50px; background:url(../img/mix_bg.png) 0 -160px; border-radius:3px;}
.join_bottom .join_link:hover{ background-position:0 -220px; box-shadow:0 0 5px #aaa;}


/*footer样式*/
.footer{ margin-bottom:0; padding:20px 0; border-top:1px solid #fff;}
.footer .links{ text-align:center; padding:15px 0;}
.footer .links a{ padding:0 10px;}

/*缩略图列表 每一项宽度为320px*/
.thumb_320_block{}
.thumb_320_ul{}
.thumb_320_ul li{ float:left; width:320px; background:#fff; margin:0 15px 35px 0; position:relative;}
.thumb_320_ul li.right{ margin-right:0;}
.thumb_320_ul li h2{ height:30px; padding:15px;}
.thumb_320_ul li h2 a{ font-size:20px; line-height:30px; color:#666;}
.thumb_320_ul li .pic{ width:320px; height:290px; overflow:hidden; background:#f7f7f7;}
.thumb_320_ul li .figures{ padding:10px 0 30px 30px;}
.thumb_320_ul li .figures .num_item{ width:80px; float:left; margin-right:10px;}
.thumb_320_ul li .figures .num_item .num a{ display:block; height:40px; line-height:40px; border-bottom:1px solid#eee; color:#666; font-size:30px; font-family:Arial, Helvetica, sans-serif; text-align:center;}
.thumb_320_ul li .figures .num_item .t{ font-size:12px; height:30px; line-height:30px; text-align:center; color:#999}
.thumb_320_ul li .shadow{ width:320px; height:15px; position:absolute; left:0; bottom:-15px; background:url(../img/thumb_320_li_shadow.png) no-repeat;}


/*带有摘要的产品列表*/
.summary_list_block { padding:15px;}
.summary_list li{ padding:0 0 20px 0; border-bottom:1px dashed #e7e7e7; margin-bottom:20px;}
.summary_list li h2.stitle{ font-size:22px; line-height:28px; margin-bottom:10px; padding:3px 5px;}
.summary_list li .sinfo{ margin-bottom:15px;}
.summary_list li .sinfo dd{ float:left; height:25px; padding:0; line-height:25px; margin-right:10px;}
.summary_list li .sinfo dd span.icon{ float:left; display:block; width:15px; height:15px; background:url(../img/mix_bg.png) 0 -380px no-repeat; margin-right:3px; position:relative; top:5px;}
.summary_list li .sinfo dd.total span.icon{ background-position:-15px -380px;}
.summary_list li .sinfo dd.date span.icon{ background-position:-30px -380px;}
.summary_list li .smain .thumb{ float:left; width:200px; height:200px; border:1px solid #e7e7e7; background:#e7e7e7; margin: 0 15px 15px 0;}
.summary_list.without_thumb li .smain .thumb{ display:none;}
.summary_list li .smain .para{ font-size:14px;}
.summary_list li .smain .para p{ font-size:14px; line-height:22px; text-indent:2em; margin-bottom:1em; color:#444;}
.summary_list li .smain .para a{ text-decoration:underline;}


















