@charset "UTF-8";
@import url(public.css);
.header{ height:100px;}

.footer{ margin-bottom:0;}
.footer .links{ text-align:center; padding:15px 0;}
.footer .links a{ padding:0 10px;}

/*居中板块通用样式*/
.block_center{ width:990px; margin:0 auto 20px auto;}
.content .block_center .top_title{ height:42px; margin-bottom:8px;}
.content .block_center .top_title h2{ height:42px; line-height:42px; font-size:14px; padding-left:15px;}
.content .block_center .main{ width:750px; float:right;}
.content .block_center .side{ width:240px; float:left;}

.content .thumb_list_block{}
.content .thumb_list_block .side .a{ border:1px solid #e7e7e7; height:298px; background:#f7f7f7; margin-bottom:10px;}
.content .thumb_list_block .side .a_s{ height:98px; margin-bottom:0;}
.content .thumb_list_block .main .items_group{}
.content .thumb_list_block .main .items_group li.item{ float:left; padding-left:20px; width:157px; height:205px;}
.content .thumb_list_block .main .items_group li .pic{ width:155px; height:155px; background:#f7f7f7; margin-bottom:10px;}
.content .thumb_list_block .main .items_group li h3{ text-align:center; line-height:15px;}
.content .thumb_list_block .main .items_group li h3 a{ font-weight:normal; text-shadow:0 1px 0 #fff;}
.content .thumb_list_block .main .items_group li.more a{ display:block; padding:80px 45px 0 45px; height:125px}
.content .thumb_list_block .main .items_group li.more a span.more_icon{ display:block; height:40px; margin-bottom:15px;}
.content .thumb_list_block .main .items_group li.more a span.more_text{ display:block; text-align:center; font-size:14px;}
.content .thumb_list_block .main .items_group li.more a span.more_text:hover{ text-decoration:none;}
.content .thumb_list_block .main .items_group li.more a:hover{ background:#f7f7f7;}

/*如果main side反向排列*/
.content .thumb_list_block_opposite .main{ float:left;}
.content .thumb_list_block_opposite .side{ float:right;}

/*通栏广告 990*60*/
.a_w{ background:#f7f7f7;}
.a_w a{ display:block; height:80px;}

